@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-anime-top {
  from {
    opacity: 0;
    transform: translate3d(0px, -50px, 0px);
  }

  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes alternating-elevation {
  0% {
    opacity: 1;
    transform: translate3d(0px, -50px, 0px);
  }

  50% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, -50px, 0px);
  }
}

@keyframes fade-anime-right {
  from {
    opacity: 0;
    transform: translate3d(0px, 0px, 50px);
  }

  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes nome {
  0% {
      opacity: 0;
      margin-top: 0;
  }
  6% {
    margin-top: 10px;
    opacity: 1;
  }
  94%{
    margin-top: 10px;
    opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

[data-anime] {
  opacity: 0;
  transition: 0.3s;
}

[data-anime="fade"] {
  opacity: 1;
}

[data-anime="top"] {
  transform: translate3d(-0px, -50px, 0px);
}

[data-anime="left"] {
  transform: translate3d(-50px, 0px, 0px);
}

[data-anime="right"] {
  transform: translate3d(50px, 0px, 0px);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes borderAnim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}
