$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import '_responsivo';
@import '_animations';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  text-align: left;
}



html {
  scroll-behavior: smooth;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.active {
  display: block !important;
  animation: 1s ease-header;

  @keyframes ease-header {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
}

body {
  background-color: #080A0C;
  color: white;
  padding: 0px;
  margin: 0px;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 1246px;
}

.center {
  text-align: center;
  margin: auto;
  width: 100%;
}

.left {
  flex: 1;
  min-width: 280px;
  max-width: 571px;
}

.right {
  flex: 1;
  min-width: 280px;
  max-width: 571px;
}

.btn-call {
  margin-top: 32px;
  text-align: center;
  padding: 1em 2.1em 1.1em;
  display: inline-block;
  background: linear-gradient(180deg, #299D65 0%, #1E764C 100%);
  box-shadow: 0px 0px 40px rgba(35, 137, 88, 0.3), 8.08267e-16px 13.2px 26.4px rgba(7, 28, 18, 0.24), inset -2.51461e-16px -4.10667px 4.10667px #1D7048, inset 2.51461e-16px 4.10667px 4.10667px #2AA369;
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 40px rgba(35, 137, 88, 0.6), 8.08267e-16px 13.2px 26.4px rgba(7, 28, 18, 0.24), inset -2.51461e-16px -4.10667px 4.10667px #1D7048, inset 2.51461e-16px 4.10667px 4.10667px #2AA369;
    transition: 0.3s;
  }

  @include for_breakpoint(mobile) {
    max-width: 600px;
    width: 100%;
    font-size: 14px;
  }

}

p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

h2 {
  margin-top: -45px;
  font-style: normal;
  font-family: 'Inter';
  font-weight: 700;
  max-width: 850px;
  font-size: 50px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;

  @include for_breakpoint(mobile) {
    font-size: 32px;
  }
}

h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;

  @include for_breakpoint(mobile) {
    font-size: 24px;
  }
}

h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 150%;

  @include for_breakpoint(mobile) {
    font-size: 20px;
  }

  /* or 135% */

  letter-spacing: -0.03em;
}

h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.03em;

  @include for_breakpoint(mobile) {
    font-size: 20px;
  }

}

.hero {
  padding: 0;
  margin: 0;
  background: url("/assets/background.png");
  background-size: cover;

  .container {
    display: flex;
    animation: fade-anime-top 0.8s ease;
    text-align: left;

    @include for_breakpoint(mobile) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;



      .right {
        display: none;
      }
    }


    .left {
     

      img {

        width: 300px;
        height: auto;
        text-align: center;
      }

      h2 {
        text-align: left;
      }

      p {
        margin-top: 16px;
        max-width: 600px;
        font-family: 'Inter';
        font-style: normal;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #CED4DA;
        text-align: left;
      }
      .pagamentos{
        margin-top: 32px;
      }
      @include for_breakpoint(mobile) {
        text-align: center;

        h2{
          text-align: center;
        }

        p{
          text-align: center;
        }
      }
    }

    .right {
      img {
        width: 100%;
      }
    }
  }
}

.garantia {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 64px;

  @include for_breakpoint(mobile) {
    flex-direction: column;
    text-align: center;
  }

  h4 {

    @include for_breakpoint(mobile) {
      text-align: center;
    }
  }

  .garantia-detalhes {
    display: flex;

    @include for_breakpoint(mobile) {
      flex-direction: column;
      margin-top: 16px;
    }

    .garantia-item {
      display: flex;

      @include for_breakpoint(mobile) {
        margin-top: 16px;
      }

      img {
        margin-left: 32px;
        width: 60px;
        height: 60px;
      }

      p {
        text-align: left;
        margin-left: 8px;
        margin-top: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */

        letter-spacing: -0.02em;
      }
    }
  }
}

.sobre-prl {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(91.05deg, #151725 -17.31%, rgba(21, 23, 37, 0) 108.32%);
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(to bottom,
      red,
      blue,
      rgba(0, 0, 0, 0)) 1 100%;

  .container {
    padding-top: 64px;
    padding-bottom: 64px;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;



    @include for_breakpoint(mobile) {

      flex-direction: column;
      text-align: center;

      h3 {
        text-align: center;
      }

      P {
        margin-top: 16px;
        text-align: center;
      }

    }

    .title-section {
      p {

        font-size: 14px;

        &:before {
          content: "";
          align-items: center;
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
          width: 24px;
          height: 2px;
          background-color: white;
          margin-right: 8px;
        }
      }
    }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      max-width: 575px;
    }
  }
}

.para-quem-produto {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;


    .sub-title {
      margin-top: 16px;
      max-width: 575px;
    }

    .para-quem-produto-itens {
      margin-top: 32px;
      display: flex;
      justify-content: space-around;

      @include for_breakpoint(mobile) {
        flex-direction: column;

      }

      .para-quem-produto-item {
        margin: 0 8px;
        padding: 36px;
        background: #131521;
        border: 1px solid #2A2D40;
        border-radius: 6px;
        padding: 32px;
        margin-bottom: 16px;

        p {
          color: #848197;
        }
      }
    }
  }
}

.conteudo-prl {
  padding-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

    h3 {
      text-align: center;
    }

    p {
      margin-top: 16px;
      text-align: center;
    }

    .segmentos-prls {
      margin-top: 32px;
      display: flex;
      justify-content: space-around;

      @include for_breakpoint(mobile) {
        flex-direction: column;
      }


      .segmento-prl {
        min-width: 330px;
        max-width: 330px;

        @include for_breakpoint(mobile) {
          margin-bottom: 16px;
        }

        margin: 0 8px;
        padding: 36px;
        background: #131521;
        border: 1px solid #2A2D40;
        border-radius: 6px;
        font-size: 64px;

        p {
          margin: 0px 8px;
          color: #848197;
        }

        .segmento-item {
          margin-bottom: 32px;
          display: flex;

        }
      }
    }
  }
}

.vantagens {
  padding-bottom: 64px;



  .circle-blur {
    position: absolute;
    margin-top: -400px;
    width: 100%;
    height: auto;
    z-index: -100;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;

    @include for_breakpoint(mobile) {
      flex-direction: column;

      .img-ebook {
        img {
          margin-left: 0;
        }
      }
    }

    .vantagens-itens {
      margin-top: 16px;

      .vantagem-item {
        padding: 8px 0;
        display: flex;

        p {
          margin-left: 16px;
        }
      }
    }

    .img-ebook {
      img {
        margin-left: -80px;
        width: 100%;
        height: auto;
        position: relative;
      }
    }
  }
}

.testemunhas {
  padding-bottom: 24px;

  .container {

    h4 {
      text-align: center;

    }

    p {
      margin-top: 16px;
      text-align: center;
      max-width: 500px;
    }


    .depoimentos {

      .depoimento-linha {
        display: flex;
        justify-content: space-between;

        @include for_breakpoint(mobile) {
          flex-direction: column;
        }

        .depoimento {
          width: 100%;

          .autor {
            display: flex;
            align-items: center;

            p {
              margin-left: 16px;
            }
          }

          p {
            text-align: start;
          }

          margin-top: 16px;
          margin-right: 16px;
          padding: 24px 16px;
          background: #131521;
          border-radius: 5px;

          .cliente {
            margin-top: 8px;
          }

          .texto-depoimento {
            margin-top: 8px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.pagamento {
  .container {
    p {
      max-width: 600px;
    }

    .preco {
      margin-top: 32px;
      padding: 32px 0 0 0;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #3F464F;
      box-sizing: border-box;
      backdrop-filter: blur(50px);
      border-radius: 5px;
      color: #080A0C;

      .btn-call {
        background-color: blue;
      }

      .preco-antigo {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 30px */

        text-transform: uppercase;

        color: #080A0C;
      }

      .preco-novo {
        margin-top: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 8px;
        color: #0B0D11;


      }

      img {
        margin-top: 24px;
        width: 80%;
      }

      .info {
        width: 100%;
        margin-top: 16px;
        border-top: 1px solid #3333;
        display: flex;
        align-items: center;


        .info-box {
          padding: 16px;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: 14px;
          }

          img {
            margin-top: 0;
            height: 24px;
            width: 24px;
            margin-right: 8px;

          }
        }
      }
    }
  }
}


.sobre {
  margin-top: 64px;
  margin-bottom: 64px;

  .container {
    h4 {
      margin-bottom: 16px;
    }

    .wrapper-content {
      margin-top: 32px;
      display: flex;

      @include for_breakpoint(mobile) {
        flex-direction: column;

        .sobre-detalhes {
          margin-top: 16px;
        }
      }

      .sobre-detalhes {
        p {
          color: #d7d6db;
          max-width: 500px;
          font-size: 14px;
        }


        .social {
          margin-top: 8px;
          display: flex;
          align-items: center;

          img {
            width: 16px;
            margin-right: 8px;
          }
        }
      }

      .banner {

        img {
          width: 50%;
          border-radius: 6px;
        }
      }
    }

  }

}

.faq {
  padding-top: 64px;
  padding-bottom: 64px;

  .container {
    display: flex;
    justify-content: space-between;

    @include for_breakpoint(mobile) {
      flex-direction: column;
    }

    .left {
      font-family: 'Inter';

      .faq-header {
        font-size: 20px;
        padding: 16px 0;
      }

      .faq-content {
        margin: 0 auto;
      }

      .faq-question {
        padding: 10px 0px;
        //border-bottom: 1px solid #2A2D40;
      }

      .panel-title {
        font-size: 16px;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 10px 10px 0 48px;
        display: block;
        cursor: pointer;
      }

      .panel-content {
        font-size: 14px;
        padding: 0px 14px;
        margin: 0 40px;
        height: 0;
        overflow: hidden;
        z-index: -1;
        position: relative;
        opacity: 0;
        color: #a8a6b2;
        -webkit-transition: .4s ease;
        -moz-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease;
      }

      .panel:checked~.panel-content {
        height: auto;
        opacity: 1;
        padding: 14px;
      }

      .plus {
        position: absolute;
        margin-top: 10px;
        z-index: 5;
        font-size: 16px;
        line-height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        -webkit-transition: .2s ease;
        -moz-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
      }

      .panel:checked~.plus {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .panel {
        display: none;
      }
    }

    .right {

      .enviar-duvida {
        display: block;
        float: right;
        padding: 32px 8px;
        background: #131521;
        border: 1px solid #2A2D40;
        max-width: 300px;
        border-radius: 4px;

        @include for_breakpoint(mobile) {
          margin-top: 24px;
          display: block;
          float: none;
        }

        img {
          height: 32px;
        }

        h5 {
          padding: 16px;
          text-align: center;
          font-size: 16px;
        }

        p {
          text-align: center;
          padding: 8px;
          font-size: 14px;
          margin-bottom: 32px;
          color: #c0bfc8;
        }

        .btn {
          background-color: blue;
          padding: 16px 16px;
          border-radius: 4px;
          font-size: 13px;
          background-color: white;
          font-family: 'Inter';
          color: #131521;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  margin-top: 32px;
  background-color: #151725;
  width: 100%;
  padding: 30px;

  .container {
    display: flex;
    justify-content: space-between;

    a {
      text-align: center;
      font-family: 'Inter';
      font-size: 13px;
      color: white;
      display: inline-block;



      img {
        margin: -6px auto;
        max-width: 20px;
        height: auto;
      }

    }

    @include for_breakpoint(mobile) {
      flex-direction: column;

      p {
        text-align: center;
        margin-bottom: 16px;
      }
    }

    .right {
      display: flex;
      justify-content: end;

      @include for_breakpoint(mobile) {
        flex-direction: column;


      }

    }
  }

  p {
    font-size: 13px;
  }
}